<!-- task_manager/templates/users/index.html -->
{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="container wrapper flex-grow-1">
    <h1>{% trans "Users" %}</h1>
    <table class="table table-striped mt-2">
      <thead>
        <tr>
          <th>ID</th>
          <th>{% trans "Username" %}</th>
          <th>{% trans "Full name" %}</th>
          <th>{% trans "Creation date" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.first_name }} {{ user.last_name }}</td>
          <td>{{ user.date_joined|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="{% url 'users:update' user.pk %}">{% trans "Edit" %}</a>
            <br><a href="{% url 'users:delete' user.pk %}">{% trans "Delete" %}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}
