<!-- task_manager/templates/base.html -->
{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}

{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Менеджер задач{% endblock %}</title>
  </head>
  <body class="d-flex flex-column h-100">
    {% include 'header.html'%}
    <main class="flex-grow-1">
    <!--вывод flash-->
    {% bootstrap_messages %}
    <!--вставка контента-->
    
    {% block content %}
    (no content)
    {% endblock %}
    </main>
  
    <footer class="border-top p-2 mt-auto">
      <div class="container-lg">
        <div class="text-center">
          <a href="https://github.com/volkbav">{% trans "created at Alex Berezov 2025" %}</a>
        </div>
      </div>
    </footer>
  </body>
</html>