<!-- task_manager/templates/tasks/index.html -->
{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <div class="container wrapper flex-grow-1">
    <h1>{% trans "Tasks" %}</h1>
    <a class="btn btn-primary mb-3" href="{% url 'tasks:create' %}">{% trans "Create task" %}</a>
    <!-- filter -->
    <div class="card  mb-3">
      <div class="card-body bg-light">
          <form method="get" class="mb-3">
          {% for field in filter.form %}
              <div class="mb-3">
                {% if field.name == "self_tasks" %} 
                  {{ field }}
                  {{ field.label_tag }} 
                {% else %}
                  {{ field.label_tag }}
                  {{ field }}
                {% endif %}                                     
                
                {% for error in field.errors %}
                  <div class="text-danger">
                      {{ error }}
                  </div>
                  {% endfor %}
              </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary">{% trans "Show" %}</button>
          </form>
      </div> 
    </div>

    <!-- filner end -->
    
    <table class="table table-striped mt-2">
      <thead>
        <tr>
          <th>ID</th>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Status" %}</th>
          <th>{% trans "Author" %}</th>
          <th>{% trans "Executor" %}</th>
          <th>{% trans "Creation date" %}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for task in filter.qs %}
        <tr>
          <td>{{ task.id }}</td>
          <td>
            <a href="{% url 'tasks:task' task.pk %}">{{ task.name }}</a>
          </td>
          <td>{{ task.status }}</td>
          <td>{{ task.author }}</td>
          <td>{{ task.executor }}</td>
          <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
          <td>
            <a href="{% url 'tasks:update' task.pk %}">{% trans "Edit" %}</a>
            <br><a href="{% url 'tasks:delete' task.pk %}">{% trans "Delete" %}</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>


{% endblock %}
