name: Test task manager

on:
  - push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pip install uv
          make install
      - name: Check linter
        run: |
          make lint
      - name: Copy environment variables
        run: |
          cp .env_example .env
      - name: Add migrations
        run: |
          make migrate
      - name: Run tests
        run: |
          make test
      - name: SonarQubeScan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io
        with:
          args: >
            -Dsonar.projectKey=volkbav_python-project-52
            -Dsonar.organization=volkbav
            -Dsonar.python.coverage.reportPaths=coverage.xml